grey		= #C9C9C9
greyDark	= #444
orange 		= #FF6654
orangeLight	= #FF958C
green		= #C7F04B
blue		= #2FC3CB

body
	background #394C5F
	
	.container
		padding-top 15px
	
		nav
			background orange
			border-color transparent
			border-radius 1em 1em 0 0
			color white
			margin-bottom 0
			overflow hidden
			padding 1em
			
			.navbar-header
				float none
				
				.navbar-btn
					background orange
					border-color orange
					&:focus
						color orange
						outline thin dotted
						outline 5px auto orange
						outline-offset -2px
						text-decoration none
					&:active
						-webkit-box-shadow inset 5px 5px 5px rgba(0, 0, 0, .125)
						box-shadow inset 5px 5px 5px rgba(0, 0, 0, .125)
						
					.icon-bar
						background-color white
						border-radius 1px
						display block
						height 10px
						width 50px
						&:nth-child(odd)
							margin-bottom 10px

				.navbar-brand
					color orangeLight
					float none
					font-size 18px
					font-weight normal
					margin 20px 0 0 8%
					padding 0
		.content
			overflow hidden
			
		section
			background grey
			padding 1em 3em
			
			.post
				background	white
				margin-bottom 8px
				min-height 110px
				height auto
				padding 5px
				
				.picture
					padding 1em
					
					span
						background-color blue
						
						img
							height 80px
							width 80px
							
				
				p
					color grey
					font-size 24px
					font-weight bold
					margin-top 35px

			.details
				background	white
				margin-bottom 8px
				min-height 300px
				
				figure
					margin-right 6%
					
				.body
					padding 2em 4em
					
					.titler
						color grey
			
@media screen and (max-width: 768px)

	body 
	
		.container
		
			nav 
				.container-fluid
					.navbar-header
						.navbar-brand
							margin 0 0 0 8%
			
			section
				.post
					p
						margin-top 2px