grey		= #777
greyDark	= #E8E8E8
greyLight	= #C9C9C9
orange 		= #FF6654
orangeLight	= #FF958C
green		= #C7F04B
blue		= #2FC3CB

.left
	float left

.right
	float right

body
	background grey
	color greyDark
	font-family Arial
	font-size 16px
	padding 2em 
	
header
	background orange
	color white
	padding 1em
	border-radius 2em 2em 0 0
	
	.menu
		width 60px
		
		span
			width 52px
			height	52px
		
		span before
			content \2630
			
	.titler
		margin 0 0 0 80px
		
		.title
			font-size 18px
			font-weight normal
			color orangeLight
			margin 0
			padding 0
			
section
	background white
	
	.post
		
		.article
			
			.picture
				  
				img
					width 60px
					border-radius 50%