@import "bootstrap.css"
@import "cubeLoad.css"

grey		= #C9C9C9
greyDark	= #444
orange 		= #FF6654
orangeLight	= #FF958C
green		= #C7F04B
blue		= #2FC3CB

html, body
    height 100%

body
	background #394C5F

	#container
		display none

	.container
		padding-top 15px

		nav
			background orange
			border-color transparent
			border-radius 1em 1em 0 0
			color white
			margin-bottom 0
			overflow hidden
			
			.navbar-header
				float none
				padding 0 0 0 2%
				
				.navbar-btn
					background orange
					border-color orange
					&:focus
						color orange
						outline thin dotted
						outline 5px auto orange
						outline-offset -2px
						text-decoration none
					&:active
						-webkit-box-shadow inset 5px 5px 5px rgba(0, 0, 0, .125)
						box-shadow inset 5px 5px 5px rgba(0, 0, 0, .125)
						
					.icon-bar
						background-color white
						border-radius 1px
						display block
						height 5px
						width 40px
						&:nth-child(odd)
							margin-bottom 10px

				.navbar-brand
					color orangeLight
					font-size 16px
					font-weight normal
					overflow hidden
					white-space nowrap
					text-overflow ellipsis
					width 75%
		.content
			overflow hidden
			
		section
			background grey
			padding 2% 4%
			height 100%
			
			div.col-sm-12
				display none
		
				.post
					background white
					margin-bottom 8px
					height 85px
					padding 5px
					
					.picture
						padding 1%
						
						span
							background-color blue
							
							img
								height 60px
								width 60px
								
					
					.title
						color grey
						font-size 24px
						font-weight bold					
						overflow hidden
						white-space nowrap
						text-overflow ellipsis
						width 70%
						font-size 16px
						float left
						padding 15px 15px

				.details
					background	white
					margin-bottom 30px
					min-height 300px
					
					.picture
						margin-right 6%
						
					.body
						padding 4% 6%
						
						.titler
							.title
								color grey
								font-weight bold
								font-size 16px
			
@media screen and (max-width: 768px)

	body 
	
		.container
			
			section
				.post
					p
						margin-top 2px
						

@media screen and (max-width: 568px)

	body 
		.container
			section
				.details

					.body
						padding 2%	

@media screen and (max-width: 320px)

	body 
		.container
			section
				.details
					.picture
						margin 0
						
						img
							width 100%
					.body
						padding 10%
						
						.titler
						
							.title
								float left
			